@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string message = "";
    var loginFail= Context.Session.GetString("fail");
    if ( loginFail=="true"){
        message = "Hibás bejelentkezési adatok!";
    }
}
<div class="main">
<h1 style="text-align:center;">Bejelentkezés</h1>
    @if (message != "")
    {
        <p stlye="text-align:center;">@message</p>

        <br />
    }
<div class="maincontainer">
        
        <form asp-controller ="Home" asp-action="Login" class="empForm" method="post">
            <input rype="text" name="userdata" /><br /><br />
        <input rype="text" name="password" /><br /><br />
        <button class="directions">Belépés</button>
    </form>
</div>
</div>