@{
    //hibás bejelentkezési adatok esetén az oldalon maradunk és kirjuk, hogy hibásak az adatok
    string message = "";
    var loginFail= Context.Session.GetString("fail");
    if ( loginFail=="true"){
        message = "Hibás bejelentkezési adatok!";
    }
}
<div class="main">
<h1 style="text-align:center;">Bejelentkezés</h1>
    @if (message != "")
    {
        <p stlye="text-align:center;">@message</p>

        <br />
    }
<div class="maincontainer">
        
        <form asp-controller ="Home" asp-action="Login" class="empForm" method="post">
        <input type="text" class="loginText" name="userdata" /><br />
        <input type="text" class="loginText" name="password" /><br />
        <button class="directions">Belépés</button>
    </form>
</div>
</div>